body {
  background: #ffc0c0;
  color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
}

h2{
  padding: 20px 0;
}

#droppy {
  height: 600px;
}

#tools {
  align-self: center;
  background-color: #ffc0c0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#board {
  background-color: #dd5583;
  width: 80%;
}

#flexy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
  padding-right: 10px;
}

#flexy h2 {
  padding: 1px;
}

#badBoi {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

input,
a {
  height: 30px;
  align-self: center;
  margin: 5px;
}

a {
  background-color: lightblue;
}

#h1, #h2,  #h3, #h4, #h5, #h6,  #img, #p {
  padding: 10px;
  margin: 10px;
  border: black solid 1px;
  border-radius: 25%;
  background-color: pink;
}
